html,   
body {
    margin: 0;
    padding: 0;
    /* background-color: #000000; */
    color: #fff;
}

body {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#links a {
    color: #fff;
    text-decoration: none;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }